<table class="metadata-box">
  <tr>
    <th class="merged" colspan="2">Cookbook metadata</th>
  </tr>
  <% { 'name' => 'Name',
       'version' => 'Version',
       'maintainer' => 'Maintainer',
       'maintainer_email' => 'Contact',
       'license' => 'License',
       'source_url' => 'Source',
       'issues_url' => 'Issues'}.each do |m, n| %>
  <% meta_info = object.send(m.to_sym) %>
  <% next if meta_info.nil? || meta_info.empty? %>
  <tr>
    <td><%= n %></td>
    <% if m.end_with?('_url') %>
    <td><a href="<%= meta_info %>" target="_blank"><%= meta_info %></a></td>
    <% else %>
    <td><%= meta_info %></td>
    <% end %>
  </tr>
  <% end %>

  <% unless object.dependencies.nil? || object.dependencies.empty? %>
  <tr class="section">
    <td class="merged" colspan="2">Dependencies</td>
  </tr>
  <% object.dependencies.each do |cookbook, version| %>
  <tr>
    <td><%= cookbook %></td>
    <td><%= version %> </td>
  </tr>
  <% end %>
  <% end %>
  <% unless object.platforms.nil? || object.platforms.empty? %>
  <tr class="section">
    <td class="merged" colspan="2">Supported platforms</td>
  </tr>
  <% object.platforms.each do |platform, version| %>
  <tr>
    <td><%= platform %></td>
    <td><%= version %> </td>
  </tr>
  <% end %>
  <% end %>
  <% unless object.gems.nil? || object.gems.empty? %>
  <tr class="section">
    <td class="merged" colspan="2">Rubygem dependencies</td>
  </tr>
  <% object.gems.each do |g| %>
  <tr>
    <td colspan="2"><%= g %></td>
  </tr>
  <% end %>
  <% end %>
</table>

<table class="metadata-box">
  <tr>
    <th class="merged" colspan="2">Cookbook documentation statistics</th>
  </tr>
  <tr>
    <td>Total percentage</td>
    <td><%= @cookbook_statistics['total_percentage'].round(2) %>%</td>
  </tr>
  <tr>
    <td class="merged" colspan="2">Chef</th>
  </tr>
  <% @cookbook_statistics.each do |stat, values| %>
  <% next unless (values.is_a?(Hash) && stat.start_with?('chef_') && !values['items'].zero?) %>
  <tr>
    <td><%= values['name'].sub(/^Chef\s/, '') %></td>
    <td><%= values['percentage'].to_f.round(1) %>% (<%= values['items'] - values['undocumented'] %> of <%= values['items'] %>)</td>
  </tr>
  <% end %>
  <tr>
    <td class="merged" colspan="2">Ruby</th>
  </tr>
  <% @cookbook_statistics.each do |stat, values| %>
  <% next unless (values.is_a?(Hash) && !stat.start_with?('chef_') && !values['items'].zero?) %>
  <tr>
    <td><%= values['name'] %></td>
    <td><%= values['percentage'].to_f.round(1) %>% (<%= values['items'] - values['undocumented'] %> of <%= values['items'] %>)</td>
  </tr>
  <% end %>
</table>
